body{
 	font-family: "Poppins", sans-serif;
 	box-sizing: border-box;
}
p{

}
h1,h2,h3,h4,h5,h6{
	font-family: 'Playfair Display', serif;
}
ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;	
}
a{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	font-size: 13px;
}
a:hover{
	text-decoration: none;
}
.section_title{
	font-family: 'Playfair Display', serif;
	padding-bottom: 5px;
	font-weight: 100;
	font-size: 50px;
}
.subtitle{
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	border-bottom: 1px solid #000;
}
.header_top {
	display: flex;
	justify-content: space-between;
	background: #e8e4e4;
}
.header_top ul{
	padding: 0px 0px;
}
.header_top ul li{
	padding: 10px 50px 10px 50px;
	font-size: 13px;
	font-weight: 500;
}
.header_top ul li a{
	color: #000;
	font-size: 12px;
}

.header_bottom{
	display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    align-items: center;
}
.site_logo a img{
	max-width: 210px;
}
.site_logo_for_mobile{
		display: none;
}
.header_bottom > ul > li{
	padding: 10px 50px 0px 50px;
	position: relative;
}
.header_bottom > ul > li > a:hover{
	display: inline-block;
	border-bottom: 1px solid #000;
}
.header_bottom > ul > li:hover .sub_menu_list{
	display: inline-block;
	z-index: 2;
	
}
.header_bottom > ul > li:hover .sub_menu_list li:after{
	content: '';
	position: absolute;
	background: #000;
	left: 16px;
	height: 1px;
}
.header_bottom > ul > li:hover .sub_menu_list .sub_menu_1:hover:after{
	width: 85px;
    top: 64px; 
}
.header_bottom > ul > li:hover .sub_menu_list .sub_menu_2:hover:after{
	width: 73px;
    top: 101px;
}
.header_bottom > ul > li:hover .sub_menu_list .sub_menu_3:hover:after{
	width: 36px;
    top: 138px;
}
.sub_menu_list{
	display: none;
	position: absolute;
	background: #fff;
	top: 33px;
    left: 50px;
    width: 150px;
    padding-top: 44px;
    
}
.header_bottom .sub_menu_list li{
	padding-bottom: 18px;
	margin: 0 15px;
}
.header_bottom .sub_menu_list li a{
	display: block;
}
.header_bottom ul li a img{
	width: 15px;
}
.hero_sec{
	position: relative;
	background: url("img/bg-1.jpg");
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
}
.hero_sec .hero_txt{
	position: absolute;
	bottom: 10%;
	right: 15%;
	color: #fff;
	font-family: 'Playfair Display', serif;
}
.hero_sec .hero_txt p{
	font-size: 22px;
}
.big_title{
	font-size: 42px;
	font-weight: 100;
	padding-left: 30px;
}
.featured_collection_gallery{
	display: flex;
	justify-content: space-between;
	margin: 30px 100px;
}
.featured_collection_for_mobile{
	display: none;
}
.featured_collection_txt{
	text-align: center;
	margin-top: 60px;
}
.featured_collection_txt h2{
	font-size: 36px;
	font-weight: 100;
	padding-bottom: 20px;
}
.featured_collection_items{
	
	position: relative;
}
.square-img .default a img{
	width: 289px;
    height: 339px;
}
.mid-img{
	padding-top: 40px;
}
.mid-img .default a img{
	width: 319px;
	height: 259px;
}
.featured_collection_items .after_hover{
	position: absolute;
	top: 0;
	left: 0%;
	opacity: 0;
	transition: .6s;
}
.featured_collection_items:hover .after_hover{
	opacity: 1;
}
.after_hover a img{
	width: 339px;
	height: 439px
}
.featured_collection_items .default{
	opacity: 1;
	transition: .6s;
}
.featured_collection_items:hover .default{

}
.mid-img .featured_collection_info{
	margin-top: 190px;
}
.featured_collection_info{
	margin-top: 150px;
	text-align: center;
}
.featured_collection_info h4{
	font-size: 19px;
	font-weight: 100;
}
.featured_collection_info p{
	font-size: 13px;
	font-weight: 300;
}
.story_sec{
	margin-top: 50px;
	
}
.story_sec_left_txt{
	 padding-top: 90px;
}
.story_sec_left_txt h1{
	font-family: 'Playfair Display', serif;
    font-size: 52px;
    font-weight: 100;
    letter-spacing: 1px;
    padding-bottom: 25px;
}
.story_sec_right_txt{
	padding: 118px 30px;
}
.section_details{
	font-weight: 300;
    color: black;
    font-size: 16px;
    padding-bottom: 25px;
    line-height: 1.5;
}
.story_sec_gallery{
	margin-left: -15px;
    margin-right: 15px;
}
.story_sec_img img{
	width: 449px;
}
.megenda{
	background: #ff5c30; 
	padding-left: 80px;
	padding-right: 70px;
}
.blue{
	background: #eef7b3;
	
}
.blue_img_for_mobile{
	display: none;
}
.worker_section{
	background: #ffbf87;
	height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.worker_section_info{
	
	padding: 0 20px;
}
.worker_section h3{
	font-weight: 300;
	width: 570px;
	line-height: 1.5;
}
.quality_section{
	background: #b2c2e0;
}

.our_quality_wrapper{
	width: 85%;
	padding-bottom: 35px;
	margin: auto;
}
.quality_row{
	display: flex;
    margin-left: -3.5%;
    margin-right: -3.5%;
    
}
.quality_row > .quality_img{
	width: 50%;
	height: 100%;
	padding: 4% 3.5%;
	margin-top: 50px;
}
.quality_img img{
	width: 528px;
	height: auto;
}
.quality_img_for_mobile{
	display: none;
}
.quality_info{
	width: 50%;
	height: 100%;
	padding: 4% 3.5%;
}
.quality_info .quality_img{
	margin-top: -150px;
}
.quality_info_txt .section_title{
	margin-top: 30px;
}
.footer_section{
	background: #3066b0;
	padding: 50px 40px;
	color: #fff;
}
.footer_section .row{
	justify-content: space-between;
}
.footer_section h4{
	font-size: 14px;
	color: #fff;
	line-height: 1.5;
    padding-bottom: 20px;
}
.footer_section h5{
	border-bottom: 1px solid #ddd;
	line-height: 2;
}
.footer_list{
	display: block;
}
.footer_list li a{
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
}
.foot_form input{
	background: transparent;
	width: 99%;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	outline: none; 
	font-size: 14px;
}
.email{
	border-bottom: 0;
	margin: 0;
	color: #fff;
}
.sign_up{
	border-bottom: 1px solid #fff;
	margin-top: 20px;
	margin-left: 84%;
	color: #fff;
}

@media (max-width: 1199.98px){
	.section_title{
		font-size: 47px;
	}
	.site_logo_for_mobile{
		display: none;
	}
	.quality_img img{
		width: 401px;
	}
	.featured_collection_info{
		margin-top: 60px;
	}
	.mid-img .featured_collection_info{
		margin-top: 100px;
	}
	.mid-img .default a img{
		width: 230px;
    	height: 250px;
	}
	.square-img .default a img{
		width: 230px;
    	height: 330px;
	}
	.after_hover a img{
		width: 230px;
    	height: 330px;
	}
	.header_bottom ul li{
		padding: 10px 50px 0px 35px;
	}
	.hero_sec{
		height: 35vh;
	}
	.story_sec_left_txt{
		padding-top: 30px;
	}
	.story_sec_img img{
		height: 474px;
	}
	.megenda{
		padding-right: 20px;
	}
	.story_sec_right_txt{
		padding: 60px 30px;
	}
	.section_details{
		font-size: 17px;
	}
	.worker_section{
		height: 38vh;
	}
	.sign_up{
		margin-left: 78%;
	}

}

@media (max-width: 991.98px){
	.section_title{
		font-size: 32px;
	}
	.section_details{
		padding-bottom: 15px;
		line-height: 1.3;
	}
	.header_top ul li{
		padding: 10px 30px 10px 30px;
	}
	.site_logo{
		margin: auto;
	}
	.site_logo_for_mobile{
		display: none;
	}
	.menu_list_left{
		display: none;
	}
	.menu_list_right{
		display: none;
	}
	.square-img .default a img{
		width: 180px;
    	height: 250px;
	}
	.mid-img .default a img{
		width: 180px;
    	height: 160px;
	}
	.mid-img .featured_collection_info{
		margin-top: 110px;
	}
	.quality_img img{
		width: 300px;
	}
	.quality_row > .quality_img{
		margin-top: 135px;
	}
	.quality_info .quality_img{
		margin-top: -100px;
	}
	.worker_section{
		height: 45vh;
	}
	.story_sec{
		margin-top: 50px;
	}
	.megenda{
		padding-left: 50px;
	}
	.blue_img_for_mobile{
		display: none;
	}
	.story_sec_img img{
		width: 255px;
		height: 375px;
	}

	.story_sec_right_txt{
		padding: 19px 20px;
	}
	.story_sec_left_txt{
		padding-top: 70px;
	}
	.story_sec_left_txt h1{
		font-size: 32px;
		padding-bottom: 20px;
	}
	.featured_collection_content{
		display: none;
	}
	.featured_collection_gallery{
		margin: 30px 60px;
	}
	.footer_section h2{
		font-size: 20px;
	}
	.sign_up{
		margin-left: 91%;
	}
}

@media (max-width: 767.98px){
	.section_title{
		font-size: 28px;
	}
	.section_details{
		font-size: 14px;
		padding-bottom: 9px;
	}
	.subtitle{
		font-size: 13px;
	}
	.header_top{
		display: none;
	}
	.header_bottom{
		margin: 0;
	}
	.hero_sec{
			height: 80vh;
	}
	.hero_txt p{
		display: none;
	}	
	.site_logo{
		display: none;
	}
	.site_logo_for_mobile{
		display: flex;
    	justify-content: center;
    	padding-top: 20px;
	}
	.site_logo_for_mobile a img{
		width: 185px;
	}
	.featured_collection_gallery{
		display: none;
	}
	.featured_collection_for_mobile{
		display: block;
	}
	.featured_collection_items_list{
		display: flex;
		justify-content: space-around;
	}
	.mid-img .default a img{
		width: 165px;
    	height: 125px;
	}
	.square-img .default a img{
		width: 125px;
    	height: 165px;
	}
	.square-img .default{
		margin-top: 22px;
	}
	.after_hover a img{
		width: 125px;
    	height: 186px;
	}
	.featured_collection_info{
		margin-top: 40px;
	}
	.mid-img .featured_collection_info{
		margin-top: 60px;
	}
	.story_sec .row{
		flex-wrap: wrap-reverse;
	}
	.story_sec_gallery{
		display: none;
	}
	.megenda{
		padding: 0;
		}
	.story_sec_left_txt{
		padding: 0;
	}
	.story_sec_left_txt h1{
		font-size: 30px;
		margin: 0;
			
	}
	.story_sec_left_txt .left{
		padding: 30px 0px 20px 20px;
	}
	.story_sec_left_txt .right{
		text-align: right;
		padding: 20px 20px 30px 29%;
	}
	.blue{
		display: flex;
		padding-bottom: 25px;
	}
	.blue_img_for_mobile{
		margin-top: 30px;
		display: inline-block;
	}
	.blue_img_for_mobile img{
		width: 165px;
		height: 273px;
	}
	.story_sec_right_txt{
		padding: 0 18px;
		margin-top: 22px;
	}
	.worker_section{
		height: 45vh;
	}
	.worker_section h3{
		width: 100%;
		font-size: 22px;
	}
	.quality_info{
		display: flex;
		width: 100%;
		padding: 0;
	}
	.quality_img {
		display: none;
	}
	.quality_row{
		margin: 0;
	}
	.quality_img_for_mobile{
		display: flex;
		margin-right: 20px;	
	}
	.quality_img_for_mobile img{
		width: 165px;
    	height: 300px;
	}
	.our_quality_wrapper{
		width: 100%;
		padding: 35px 0px;
	}
	.quality_info_txt{
		padding: 0px 20px;
	}
	.quality_info_txt .section_title{
		margin-top: 0;
	}
	.sign_up {
    	margin-left: 80%;
	}

}